@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definir cores globais como variáveis CSS */
:root {
    --primary: #0083ff;
    --secondary: #00dbff;
    --accent: #1647f8;
    --white: #ffffff;
    --dark: #0b487c;
}

/* Aplicar fonte padrão */
@layer base {
    html, body {
        font-family: 'Inter', sans-serif;
    }
}
